
/* Black Jack App--------------- */

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 background-color: #ddd;
 text-align: center;
 background-image: url(./images/blackjack_wallpaper.jpg);
 background-repeat: repeat;
 background-position: center;
 background-size: cover;
}

h1 {
 color: goldenrod;
 margin: 1rem;
 font-size: 4rem;
}

p {
 margin: 1rem;
 font-size: 2rem;
 color: white;
}

#message-el {
 font-style: italic;
}

#start-btn, #newcard-btn {
 font-size: 1.5rem;
 font-weight: bold;
 color: #016f32;
 background: goldenrod;
 padding: 10px;
 width: 190px;
 border: none;
 margin-bottom: 5px;
}

#start-btn:hover,
#newcard-btn:hover {
 cursor: pointer;
 opacity: .89;
}

#start-btn:active, #newcard-btn:active {
 background: black;
 color: white;
}




/* Black Jack App--------------- */
