* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 margin: 1rem;
}

input {
 width: 100%;
 margin-bottom: 5px;
 padding: 10px;
 border: 1px solid #5f9341;
}

button {
 padding: 10px;
 color: white;
 background-color: #5f9341;
 border: none;
 font-weight: bold;
}

button:hover {
 opacity: .7;
}

button:active {
 transition: all 0s ease-in-out;
 transform: scale(0.9);
}

